@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer theme {
  :root {
    color-scheme: light dark;
  }
}

@layer base {
  .btn {
    @apply flex items-center gap-2 rounded-lg border border-zinc-300 px-5 py-2.5 font-medium shadow-sm outline-offset-4 transition-colors not-disabled:cursor-pointer disabled:opacity-75 dark:border-zinc-600;
  }

  .btn--primary {
    @apply border-none bg-blue-600 text-white not-disabled:hover:bg-blue-700 not-disabled:active:bg-blue-800 dark:bg-blue-700 dark:not-disabled:hover:bg-blue-600 dark:not-disabled:active:bg-blue-800;
  }

  .btn--danger {
    @apply border-none bg-red-600 text-white not-disabled:hover:bg-red-700 not-disabled:active:bg-red-800 dark:bg-red-700 dark:not-disabled:hover:bg-red-600 dark:not-disabled:active:bg-red-800;
  }
}
